@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');

* {
  font-family: 'Roboto Mono', monospace;
}
/* Variables */
:root {
  --background-color: #f5f5f4;
  --text-color: #333;
  --window-border-radius: 6px;
  --font-size: 14px;
}

/* The arrow at the top of the window */
.header-arrow {
  position: absolute;
  top: 2px;
  left: 50%;
  margin-left: -5px;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  background-color: #000;
}

.window {
  position: absolute;
  top: 5px;
}

.toolbar {
  box-shadow: none;
  background: black;
}

.toolbar-footer {
  border-top: 1px solid rgba(0,0,0,0.2);
}

.toolbar-header {
  /*background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);*/
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.title {
  color: rgba(255,255,255,0.5);
}

.btn {
  background: black;
  border: 1px solid rgba(255,255,255,0.15);
}

.btn-group .btn + .btn {
  border-left: 1px solid rgba(255,255,255,0.15);
}

.window, .toolbar-header {
  border-top-left-radius: var(--window-border-radius);
  border-top-right-radius: var(--window-border-radius);
}

.tab-group {
  border-top: 1px solid rgba(255,255,255,0);
  border-bottom: none;
}
.tab-item {
  background: black;
  font-size: 24px;
  border-left: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  transition: 0.2s;
}

.tab-item:hover {
  background: #171717;
}

.tab-item.active {
  background: black;
  border-bottom: 1px solid white;
}

.window-content {
  background-color: black;
}

.column {
  width: 50%;
  float: left;
  margin: auto;
  margin-top: 16px;
  text-align: center;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;*/
}

.summary {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 16px;
  font-size: var(--font-size);
  font-weight: 300;
  color: var(--text-color);
}

.reading {
  text-align: left;
  display: inline;
  padding: 0 0 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  color: rgba(255,255,255,1);
}

.reading.light {
  text-align: left;
  font-weight: 300;
  color: #666;
}

.description {
  padding-right: 20px;
  text-align: right;
  text-transform: uppercase;
  color: #666;
  font-size: calc(var(--font-size) - 5px);
  font-weight: 300;
}

.description.light {
  text-align: left;
  text-transform: capitalize;
  padding-left: 30px;
  padding-right: 0;
}

.footer-link {
  padding-top: 8px;
  padding-left: 10px;
  font-size: calc(var(--font-size) - 4px);
  float: left;
  color: #666;
}

.footer-link a {
  color: rgba(255,255,255,0.5);
}

.rates {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  font-size: 16px;
}
.rates span {
  margin-right: 40px;
  color: rgba(255,255,255,0.4);
  font-weight: 300;
  font-size: 12px;
}

.rates .value {
  color: white;
  font-weight: 300;
}

.coin {
  display: flex;
  background: #141414;
  padding-bottom: 20px;
  border-radius: 3px;
  margin: 10px;
  transition: 0.25s;
}

.coin:hover {
  background: #1D1D1D;
}

.coin.active {
  border: 1px solid rgba(255,255,255,0.5);
}

.circle {
  padding: 0;
  margin: 0;
  position: relative;
  height: 8px;
  width: 8px;
  background: #FF9F00;
  border-radius: 100px;
  margin-right: 10px;
}

.circle.BTC {
  background: #FF9F00;
}

.circle.ETH {
  background: #858585;
}
